

 <h2>Kies een interessant boek!</h2>
        <section class="parent" >
          <div>
            
            <img class="avatar" src="./images/boekje/happy.png" alt="Booky">
            <blockquote>"Wat een boeken zeg!"</blockquote>
 
          </div>
<p>
"Een onderwerp vormt de basis van jouw werkstuk. Kies een onderwerp die bij jou past. Vind je het bijvoorbeeld leuk om films te kijken met ridders? Kijk dan eens naar geschiedenis!"
</p>
      </section>

      <main class="grid">

      {{#each data}}
       <a href={{this.detailLink}} target="blank">
        <article id="{{this.id}}">
        <h2>{{this.titles.[0]}}</h2>
                <img src="{{this.coverimages.[1]}}" alt="{{this.coverimages.[0]}}">
                <p>{{this.summaries.[0]}}</p>

        </article></a>
      {{/each}}
     </main>





<script>
</script>
